body{
  background-color: #e8e4f3;
  font-family: "Lato";
  font-weight: 300;
  font-size:16px;
  color: #555;

-webkit-font-smoothing: antialiased; /* Шрифт гладкий на моб устр*/
-webkit-overflow-scrolling: touch; /* Сролинг тачем*/

}
h1, h2, h3, h4, h5, h6{
  font-family:"Raleway";
  font-weight:  400;
  color: #000;
}
h6{
  color: #948282;
}
p{
  font-size: 20pt;
  padding: 10px;
  line-height: 28px;
  margin: 0 !important;
}
form{
}
.centered{
  text-align: center;
}

b{
  display: block;
}
input{
  display: block;
}
a{
  color: #f85c37;
}
a:hover, a:focus{
  color: #7b7b7b;
  text-decoration: none;
  outline: 0; /* Стиль границ и обводки блока*/
}
.mainblock{
  min-width: 300px;
  margin: 20px 20%;
}

h1 { margin: 0; }

a {
	color: #999;
	text-decoration: none;
}

a:hover { color: #1dabb8; }

fieldset {
	border: none;
	margin: 0;
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	outline: none;
	-webkit-appearance: none;
}

input[type="submit"] { cursor: pointer; }


#login-form {
	margin: 150px auto;
	width: 300px;
}

#login-form h1 {
	background-color: #282830;
	border-radius: 5px 5px 0 0;
	color: #fff;
	font-size: 14px;
	padding: 14px 20px;
	text-align: center;
	text-transform: uppercase;
  font-weight: 700;
}

#login-form fieldset {
	background: #fff;
	border-radius: 0 0 5px 5px;
	padding: 20px;
	position: relative;
}

#login-form fieldset:before {
	background-color: #fff;
	content: "";
	height: 8px;
	left: 50%;
	margin: -4px 0 0 -4px;
	position: absolute;
	top: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	width: 8px;
}

#login-form input {
	font-size: 14px;
}

#login-form input[type="text"],
#login-form input[type="password"] {
	border: 1px solid #dcdcdc;
	padding: 10px 10px;
	width: 250px;
  font-size: 12pt;
  font-weight: 700;
}

#login-form input[type="text"] {
	border-radius: 3px 3px 0 0;
}

#login-form input[type="password"] {
	border-top: none;
	border-radius: 0px 0px 3px 3px;
}

#login-form input[type="submit"] {
	background: #1dabb8;
	border-radius: 3px;
	color: #fff;
	font-weight: bold;
	margin-top: 20px;
	padding: 10px 20px;
}

#login-form input[type="submit"]:hover { background: #198d98; }


#errlog{
  margin-bottom: 5px;
  color: red;
  visibility:    hidden;
}
